<div>
  {{local.get('resource', 'javascript')}}
  <hello hello-name='currentUser.full_name'><h1>Hello, {{name}}!</h1></hello>
  <p>You now have</p>
  <ul>
    <li ng-repeat="thing in awesomeThings">{{thing | firstUpperCase}}</li>
  </ul>
  <h3>Enjoy coding! - Yeoman</h3>

  <!--<a href="/signup" class="pure-button pure-button-primary">Sign Up</a>-->

  <a ng-show="!currentUser.isAuthed" href="/signin" class="pure-button pure-button-primary">Sign In</a>

  <a href="#" ng-click="signout()" class="pure-button pure-button-primary">Sign Out</a>

  <p style="height:10000px">
    welcome,you can user username:admin,password:dreampie tologin and see home page'e changed

  </p>
</div>
