<div>
  {{local.get('resource', 'javascript')}}
  <hello hello-name='currentUser.full_name'><h1>Hello, {{name}}!</h1></hello>
  <p>You now have</p>
  <ul>
    <li ng-repeat="thing in awesomeThings">{{thing | firstUpperCase}}</li>
  </ul>
  <h3>Enjoy coding! - Yeoman</h3>

  <!--<a href="/signup" class="pure-button pure-button-primary">Sign Up</a>-->

  <a ng-show="!currentUser.isAuthed" href="/signin" class="pure-button pure-button-primary">Sign In</a>

  <a ng-show="currentUser.isAuthed" href="#" ng-click="signout()" class="pure-button pure-button-primary">Sign Out</a>


  <br>
  本项目源码，<a href="https://github.com/Dreampie/icedog">icedog</a><br>
  本项目帐号，admin/dreampie<br><br>
  [<span style="color: red;font-size: 16px">强烈推荐</span>] 极简restful+activerecord框架,代码比ssh省至少60%,简洁orm,轻量级(核心代码只有190K左右) 源码链接 <a href="https://github.com/Dreampie/resty">Resty</a><br>
</div>
