<div ng-controller="HeaderCtrl">

  <nav class="left-nav">
    <ul>
      <li class="logo"><a href="/">IceDog</a></li>
      <li ng-repeat="menu in menus" ng-init="showSubNav$index=false" ng-mouseenter="showSubNav$index=true" ng-mouseleave="showSubNav$index=false">
        <a ng-href="{{menu.url}}">
          <span class="fa fa-{{menu.icon}}"></span>{{menu.name}}
        </a>

        <div ng-if="menu.children.length>0" ng-class="{true: 'sub-nav show-sub-nav', false: 'sub-nav'}[showSubNav$index]">
          <span class="fa fa-{{menu.icon}}"></span>

          <h3>{{menu.name}}</h3>
          <ul>
            <li ng-repeat="submenu in menu.children">
              <a ng-href="{{submenu.url}}">{{submenu.name}}</a></li>
          </ul>
        </div>

      </li>
    </ul>
  </nav>

  <header headroom tolerance='5' offset='50' class="header headroom" role="banner" ng-init="showSearchFocus=false">
    <div class="search-form">
      <form name="searchForm" role="search">
        <input type="text" name="searchContent" ng-show="showSearchFocus" ng-model="searchContent" required
               focus-me="showSearchFocus">
      </form>
    </div>
    <ul>
      <li>
        <a class="nav-email" href="mailto:wangrenhui1990@gmail.com"><span class="fa fa-envelope"></span></a>
      </li>
      <li>
        <a class="nav-rss" href="/feed" target="_blank"><span class="fa fa-rss"></span></a>
      </li>
      <li><a ng-click="showSearchFocus=!showSearchFocus;searchAll(searchContent)" href="#"><span
          class="fa fa-search"></span></a></li>
    </ul>
  </header>
</div>